.button {
    background-color: #4D82B0;
    border: none;
    color: white;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    opacity: 1
}

.button:focus {
    outline: none;
}
