@value tabletMaxWidth from '../../styles/media.css';

.main-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 40vh;
    justify-content: center;
    margin: 0 auto;
}

.content{
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 80%;
}

.reset-info {
    font-family: Lato;
    padding: 5px;
    text-align: center;
}

@media only screen and (max-width: tabletMaxWidth){
    .main-container {
        width: 250px;
    }
    
    .content{
        width: 90%;
    }


}