.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 100px;
    height: 100px;
}

.image-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.submit-text {
    margin: 0 35px 45px 35px;
    text-align: center;
    color: #4D82B0;
}
