@value tabletMaxWidth from '../../styles/media.css';

.container {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.settings-button {
    background-image: url("/settings.svg");
    height: 50px;
    width: 50px;
    position: absolute;
    top:0;
    right:0;
    margin: 10px;
    cursor: pointer;
    margin-right: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}
.logout-button {
    background-image: url("/logout.svg");
    height: 50px;
    width: 50px;
    position: absolute;
    top:0;
    left:0;
    margin: 10px;
    cursor: pointer;
    margin-left: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.submit-text {
    margin: 0 35px 45px 35px;
    font-family: Lato;
    font-size: 15px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.final-message {
    width: 100%;
    margin: 0 35px 45px 35px;
    font-family: Lato;
    font-size: 15px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.social-media-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: tabletMaxWidth) {
    .container {
        width: 100%;
    }

    .settingsButton{
        height: 25px;
        width: 25px;
        margin-right: 10px;
    }
}
