@value tabletMaxWidth from '../../../styles/media.css';


.link {
    color: #4D82B0;
    margin: 4px;
    cursor: pointer;
    width: 50%;
    font-family: Lato;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    transition: 0.5s;
    position: relative;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.right:after {
    content: '\2192';
    color: #4D82B0;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -100px;
    transition: 0.5s;
}

.right:hover {
    padding-right: 25px;
}

.left:before {
    content: '\2190';
    color: #4D82B0;
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}

.left:hover {
    padding-left: 25px;
}

.link:hover:after {
    opacity: 1;
    right: 0;
}

.link:hover:before {
    opacity: 1;
}


@media only screen and (max-width: tabletMaxWidth) {
    .link {
        width: 100%;
    }
}
