@value tabletMaxWidth from '../../styles/media.css';

.settings-container {
    margin: 12px;
}

.title {
    text-align: center;
    color: gray;
    margin-bottom: 30px;
}

.button-container {
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.btn {
    margin: 2px;
}

.delete-account-button {
    flex:1;
}
.cancel-delete {
    flex: 2;
}
.check-container {
    margin: 10px;
    text-align: justify;
}

@media only screen and (max-width: tabletMaxWidth) {
    .delete {
        width: 90%;
    }
    
}