@value tabletMaxWidth from '../../styles/media.css';

.content-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px;
    background-image: url('/intro-desktop.gif');
    background-size: cover;
    background-position: center;
}

.logoDesktop {
    background-image: url('/logo.png');
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;
}

.participateButton {
    align-self: flex-end;
    width: 50%;
}

@media only screen and (max-width: tabletMaxWidth) {
    .content-container {
        background-image: url('/intro-mobile.gif');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .participateButton {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .logoDesktop {
        display: none;
        visibility: hidden;
    }

    
}
