@value tabletMaxWidth from '../../styles/media.css';

.content-container {
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 5px;
    background-image: url('/intro-gif.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.participateButton {
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media only screen and (max-width: tabletMaxWidth) {
    .hr-style{
        margin: 10% 10% 10% 10%;
    }
}
