@value tabletMaxWidth from '../../styles/media.css';


.content-container {
    height: 100vh;
    width: 100%;
    margin-top: 20px;
    padding: 5px;
    background-image: url('/intro-logo-gif.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.participateButton {
    position: fixed;
    bottom: 50%;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: tabletMaxWidth) {
    .hr-style{
    margin: 10% 10% 10% 10%;
    }
}