@value tabletMaxWidth from '../../../styles/media.css';



.register {
    display: flex;
    flex-direction: column;
    width: 50%;
}

@media only screen and (max-width: tabletMaxWidth) {
    .register {
        width: 90%;
    }

    iframe {
        -ms-transform: scale(0.8); /* IE 9 */
        -webkit-transform: scale(0.8); /* Safari */
        transform: scale(0.8);
    }
}
